*.db
*.egg-info/
*.log
*.py[cod]
*.pyc
*.pyo
.coverage
.DS_Store
.env*
!.env.example
!.env_dev
.idea*
.mise-cache/
.mypy_cache/
.pytest_cache/
.venv
.vscode*
__pycache__
build/
dist/
migrations/versions/*.py
softarr.db
softarr.ini
tmp/*
*.zip
*.rar
/dev/*
!/dev/.gitkeep
